{% extends 'base.html' %}
{% block content %}
	<!-- <h1>HVAC and fan remote</h1> -->
	<div>
		<p id="clock"></p>
		<p>
			Room temperature: <mark><span id="room-temperature"></span></mark>F.
		</p>
		<p>
			Last reading: <span id="last-reading"></span>
		</p>
<!-- 		<p>
			HVAC: <mark><span id="hvac-status"></span></mark>
		</p>
		<p>
			Fan : <mark><span id="fan-status"></span></mark>
		</p> -->
	</div>

	<div>
		Cool
		<input id="coolTemperature" type="number" name="coolTemperature" min="60" max="90" placeholder="60-90F">
		<input type="radio" name="coolSwitch" value="0">Off
		<input type="radio" name="coolSwitch" value="1">On
	</div>

	<div>
		Heat
		<input id="heatTemperature" type="number" name="heatTemperature" min="60" max="90" placeholder="60-90F">
		<input type="radio" name="heatSwitch" value="0">Off
		<input type="radio" name="heatSwitch" value="1">On
	</div>

	<div>
		Fan
		<input type="radio" name="fanSwitch" value="0">Off
		<input type="radio" name="fanSwitch" value="1">On
	</div>
{% endblock %}